@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body{
  font-family: system-ui;
 
}
/* Estilos para el encabezado */
header{
  background-color: #FC7308;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 7px 8px -3px grey;
  position: fixed;
  width: 100%;
  margin-top: -10px;
  z-index: 99;
}
.container{
  max-width: 1200px;
  text-align: center;
  margin: auto;

}
.header-section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  position: relative;
  z-index: 1; /* Asegurar que el carrito esté sobre otros elementos */
}
.header-section div{
  position: relative;
}
.header-section p{
  position: absolute;
  top: -24px;
  right: -8px;
  background-color: #fff;
  padding: 1px 6px;
  border-radius: 50%;
  color: red;
  font-weight: 700;
  font-family: system-ui;
  line-height: 18px;
}
.logo{
  width: 164px;
  height: 84px;
  cursor: pointer;
}

.cart{
  width: 70px;
  height: 70px;
  margin-right: 140px;
}


/*elemento del carrito de compras ancho/-altura¡?*/
.cart-products {
  position: fixed;
  top: 32px;
  right: 32px;
  background-color: #fff;
  padding: 0 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
  display: none;
  min-width: 290px;
  z-index: 2; 
}

.cart:hover{
  margin-bottom: 16px;
  transition-duration: .5s;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
}

.top-nav ul {
  list-style: none;
  display: flex;
  margin-right: 700px;
}

.top-nav li {
  margin: 0 15px;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*final del encabezado*/
.products{
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*tamaño de limitando su ancho máximo de los elementos*/
.carts {
  max-width: 250px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 200%);
  padding-bottom: 34px;/*maxxxxx*/
  margin-bottom: 41px;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out; /* Agregamos una transición */
}

.carts:hover {
  transform: scale(1.05); 
}

.carts img{
  width: 100%;
}
.carts p{
  font-family: system-ui;
  font-weight: 500;
  padding: 0 20px;
  margin-bottom: 24px;
}
.carts div p{
  position: absolute;
  top: 0;
  right: 0px;
  background-color: rgb(0, 235, 129);
  color: #fff;
  padding: 2px 7px 4px 21px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
  position: relative;
}
.carts a{
  font-family: system-ui;
  text-decoration: none;
  background: red;
  padding: 9px 23px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}

.carts a:hover{
  background: #fff;
  color: red;
  border: solid 2px red;
  transition-duration: .3s;
}

/* carta ------------>carro flotante*/
.cart-products .item img{
  width: 113px; /*--> ancho del carro flotante*/
}

.cart-products .item{
  display: flex;
  align-items: center;
  border-bottom: solid 2px red;
}
.cart-products .item .item-content{
  margin: 0 19px;
  width: 201px;
}
.cart-products .item .item-content h5{
  margin: 0;
  font-size: 11px; /*--> tamaño del fuente de los nombres agregados*/
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item .item-content h6{
  margin: 0;
  font-size: 11px; /*--> tamaño del fuente de la cantidad agregado*/
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item span{
  background-color: red;
  padding: 0px 5px;
  border-radius: 50%;
  color: #fff;
  font-family: system-ui;
  cursor: pointer;
}
.cart-products h3{
  margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
  font-weight: 700;
}

/* Estilo para el botón de cierre */
.cart-products .close-btn {
  position: absolute;
  top: 75px;
  right: 10px;
  cursor: pointer;
  font-size: 23px;
  color: #333;
}

/* Estilo para el texto "Mi carrito" */
.cart-products h3 {
  margin-bottom: 10px;
  margin-top: 100px; /* Ajusta la distancia desde la parte superior según tus preferencias */
}

/* Estilo para el texto del autor en el pie de página */
p.author {
  display: flex;
  justify-content: center;
  font-variant: JIS04;
  margin-top: 3%;
  gap: 7px;
}

p.author a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  /* Añade cualquier estilo adicional según tus preferencias */
}




/* Agrega esto a tu archivo de estilos (stilo.css) */
.finalizar-btn {
  background-color: #4CAF50; /* Color de fondo verde, puedes cambiarlo según tus preferencias */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.finalizar-btn:hover {
  background-color: #45a049; /* Cambia el color al pasar el ratón sobre el botón */
}

















.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: #fff;
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 180px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-header .logo {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}
.nav-links {
  margin-top: 20px;
  height: 100%;
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: none;
  margin-bottom: 5px;
  
}

.sidebar.expand .nav-links li {
  display: block;
}

.nav-links i {
  color: #000;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

.nav-links input {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline: none;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: #e2e2e2;
  padding: 0;
}

.sidebar.expand .nav-links input {
  width: 100%;
  padding: 0 20px 0 40px;
}

.nav-links li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #fff;
}

.nav-links li:hover a {
  background: var(--color-hover);
}

.nav-links li:hover i {
  color: #fff;
}

.nav-links li a .title {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: #fff;
}

.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

@media screen and (max-width: 768px) {
  .sidebar {
      width: 0%;
      padding: 10px;
  }

  .nav-header {
      margin-bottom: 10px;
  }

  .nav-links li {
      margin-bottom: 5px;
  }
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}

.nav-links .search-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-25px);
  font-size: 23px;
  color: #000;
  border-radius: 12px;
  background: #fff;
  transition: var(--transition);
}

.sidebar.expand .nav-links .search-btn {
  background: transparent;
  transition: var(--transition);
}

.sidebar.expand .nav-links li:hover .search-btn {
  color: #000;
}

.nav-links .search-btn:hover {
  background: var(--color-hover);
}



.theme-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 250px;
  left: 0;
  padding: 8px 16px;
}

.theme-wrapper .theme-icon {
  font-size: 20px;
  color: #000;
  display: none;
  transition: var(--transition);
}
.sidebar.expand .theme-wrapper .theme-icon {
  display: block;
}

.theme-btn {
  width: 80px; 
  height: 20px;
  background: #e2e2e2;
  border: none;
  border-radius: 30px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-btn.dark {
  background-color: #000;
  color: #fff;
}

body.dark-theme {
  background-color: #000;
  color: #fff; 
}
.home {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  min-height: 100vh;
  background: #e2e2e2;
  z-index: 6;
  transition: var(--transition);
}

.sidebar.expand ~ .home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}

.home p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}
.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: .3s;
}

.item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
}

.item .img-item {
  width: 100%;
}

.item:hover {
  box-shadow: 0 0 10px #666;
  transform: scale(1.05);
}

.item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contenedor-items {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .item {
      max-width: 100%;
  }
}



/* Estilos para el carrito de compras */


.cart-products h3 {
  margin-bottom: 10px;
}

.cart-products h2 {
  margin-top: 10px;
}

.cart-products button {
  background-color: #fff;
  color: #333;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}


/* Estilo para el contenedor del carrito */
.cart-container {
  position: relative;
  display: inline-block;
}

/* Estilo para el contador de productos */
.count-product {
  position: absolute;
  top: 0;
  right: 170px;
  background-color: black; /* Ajusta el color según tus preferencias */
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}


/*color estilo de los nombres codigo*/
.product-code {
  /*color: blue;*/
  transition: color 0.1s ease-in-out;
}
.product-code:hover {
  color: red; 
}


